<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h3>Last micropost </h3>
<div style="border: 1px solid black;">
  <%= render @user.microposts.first %>
  <%= link_to "View", @user.microposts.first %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>